.comentario {
    display: flex;
    width: 80%;
    margin: 3rem auto;
    align-items: center;
    gap: 3rem;
    &__imagem {
        width: 400px;
    }
    h3 {
        font-size: calc($tamanho-do-texto / 2);
        font-weight: 500;
        text-transform: uppercase;
        color: $cor-terciaria;
    }
    h4 {
        font-size: calc($tamanho-do-texto / 2.5);
        font-weight: 300;
        margin: 1rem 0;
    }
    p{
        line-height: 1.5rem;
    }
}

